{% extends "base.html" %}

{% load crispy_forms_tags %}
{% load staticfiles %}


{% block head_title %}{{ title }} | {{ block.super }}{% endblock %}



{% block style %}
<link href="{% static 'css/image_hover.css' %}" rel="stylesheet">

<style>
/* Hover */
.card:hover {
  background-color:#F0F8FF;
}

.nodec{
	text-decoration: none;
}
</style>


{% include 'post_style.html' %}
{% endblock %}


{% block content %}

<div class="container">
    <div class="row">
        <div class="text-center hidden-xs">
            <h2 style="text-decoration: underline;">Places in {{ title }}</h2>
          </div>
          <div class="text-center visible-xs">
            <h4 style="text-decoration: underline;">Places in {{ title }}</h4>
          </div>
          {% for place in places %}
          <div class="col-md-4">
              <div class="thumbnail card">
                <a href="{{ place.get_absolute_url }}">
                  <div class="hovereffect">
                    <img  src="{{ place.image.all.0.url.url }}" alt="Lights" style="height:250px;width:400px;margin-bottom:10px;">
                  </div>
                </a>
                <br/>
                <div class="caption text-center">
                  <h3 class="hidden-xs">{{ place.name }}</h3>
                  <h4 class="visible-xs">{{ place.name }}</h4>
                  <p>{{ place.description|truncatechars:150 }}</p>
                </div>
                <div class="text-center">
                    <a href="{{ place.get_absolute_url }}"><button type="button" class="btn btn-primary">Explore More</button></a>
                </div>
              </div>
          
          </div>
          {% endfor %}
     </div>
     {% if temples %}
     <div class="row">
        <div class="text-center hidden-xs">
            <h2 style="text-decoration: underline;">Temples in {{ title }}</h2>
          </div>
          <div class="text-center visible-xs">
            <h4 style="text-decoration: underline;">Temples in {{ title }}</h4>
          </div>
        {% for temple in temples %}
          <div class="col-md-4">
            <div class="thumbnail card">
              <a href="{{ temple.get_absolute_url }}">
                <div class="hovereffect">
                  <img src="{{ temple.image.all.0.url.url }}" alt="Lights" style="height:200px;width:400px;margin-bottom:10px;">
                </div>
              </a>
              <div class="caption text-center">
                <h3 class="hidden-xs">{{ temple.name }}</h3>
                <h4 class="visible-xs">{{ temple.name }}</h4>
                <p>{{ temple.description|truncatechars:100 }}</p>
              </div>
              <div class="text-center">
                  <a href="{{ temple.get_absolute_url }}"><button type="button" class="btn btn-primary">Explore More</button></a>
              </div>
            </div>
          </div>
        {% endfor %}
    </div>
    {% endif %}
  </div>

    <div class="footer" style="background-color:#0E3D14;color:white;">
          <div class="row">
            <div class="col-md-12 text-center">
              <div class="footer-social-icons"><a href="https://www.facebook.com/uttarakhandtravellers/" target="_blank"><i class="fa fa-facebook-square" title="uttarakhandtraveller on Facebook"></i></a> <!--a href="#" target="_blank"><i class="fa fa-twitter-square" title="eUttaranchal on Twitter"></i></a> <a href="#" target="_blank"><i class="fa fa-youtube-square" title="uttarakhandtraveller on Youtube"></i></a>  <a href="#" target="_blank"><i class="fa fa-google-plus" title="uttarakhandtraveller on Google+"></i></a-->
              <a href="https://instagram.com/uttarakhandtraveller" target="_blank"><i class="fa fa-instagram" title="uttarakhandtraveller on Instagram"></i></a></div>
              <div class="copyright">All rights reserved. &copy; <a href="http://www.uttarakhandtraveller.com">uttarakhandtraveller.com</a><br/>
              <a href="{% url 'terms_and_conditions' %}" style="color:white;"><i class="fa fa-info-circle">Terms and conditions</i></a>
              </div>
            </div>
          </div>
        <!--/div-->
      </div>
{% endblock content %}
