{% extends "base.html" %}

{% load crispy_forms_tags %}
{% load staticfiles %}


{% block head_title %}{{ title }} | {{ block.super }}{% endblock %}



{% block style %}
<style>
.card:hover {
  background-color:#F0F8FF;
}
</style>
<link href="{% static 'css/image_hover.css' %}" rel="stylesheet">
{% include 'post_style.html' %}
{% endblock %}


{% block content %}

<div class="container">
    <div class="row">
      <div class="col-md-8">
      <div class="text-center">
        <h3>Places to visit in {{ title }}</h3>
      </div>
      {% for spot in spots %}

        <div class="card col-md-5" style="border-style:outset;margin-left: 15px;margin-top:15px;">
            <div class="hovereffect">
                <a href="{{ spot.get_absolute_url }}"><img src="{{ spot.image.all.0.url.url }}" class="img-responsive" style="height:220px;width:350px;margin-bottom: 10px;" alt="Card image"></a>
            </div>
            
            
            <div class="card-body card">
              <h4 class="card-title text-center pad-top-30" >{{ spot.name }}</h4>
              
              <p class="card-text">{{ spot.description|truncatechars:230 }}</p>
              <div class="text-center">
                <a href="{{ spot.get_absolute_url }}"><button type="button"  class="btn btn-primary" style="margin-bottom:20px;">Read More</button></a>
              </div>
            </div>
        </div>

    {% endfor %}
      </div>
      <div class="col-sm-4">
      {% if places %}
      <div class="row">    
        <center><h3>Related Places</h3></center>
            {% for place in places %}
            {% if forloop.counter <= 2%}
            <div class="col-xs-6 col-sm-6">
                  <div class="col-sm-12">
                      <div class="thumbnail card">
                          <a href='{{ place.get_absolute_url }}'><img src="{{ place.image.all.0.url.url }}" style="height:120px;width:250px;" class='img-responsive image' /></a>
                          <div class="caption">
                              <h5 class="text-center"><a href='{{ place.get_absolute_url }}'>{{ place.name }}</a></h5>
                          </div>
                      </div>
                  </div>
            </div>
            {% else %}
            <div class="col-xs-6 col-sm-6 hidden-xs">
                <div class="col-sm-12">
                    <div class="thumbnail card">
                        <a href='{{ place.get_absolute_url }}'><img src="{{ place.image.all.0.url.url }}" style="height:120px;width:250px;" class='img-responsive image' /></a>
                        <div class="caption">
                            <h5 class="text-center"><a href='{{ place.get_absolute_url }}'>{{ place.name }}</a></h5>
                        </div>
                    </div>
                </div>
          </div>
            {% endif %}
            {% endfor %}
          </div>
      {% endif %}
      {% if posts %}
      <div class="row hidden-xs">
        <center><h3>Latest articles</h3></center>
        {% for post in posts %}
        <!--div class="col-sm-3 col-sm-offset-2"--> 
          <div class="col-sm-6">
              <div class="col-sm-12">
                  <div class="thumbnail card">
                      <a href='{{ post.get_absolute_url }}'><img src="{% if post.image_url %}{{ post.image_url.url }}{% else %}{{ post.image.all.0.url }}{% endif %}" style="height:120px;width:250px;" class='img-responsive img-rounded image' /></a>
                      <div class="text-center">
                          <h5 class="text-center"><a href='{{ post.get_absolute_url }}'>{{ post.title|truncatewords:5 }}</a></h5>
                      </div>
                  </div>
              </div>
          </div>
        {% endfor %}
        </div>
    {% endif %}
    </div>
  </div>
  <br/><br/>
  <div class="footer" style="background-color:#0E3D14;color:white;">
        <!--div class="container"-->
          <div class="row">
            <div class="col-md-12 text-center">
              <div class="footer-social-icons"><a href="https://www.facebook.com/uttarakhandtravellers/" target="_blank"><i class="fa fa-facebook-square" title="uttarakhandtraveller on Facebook"></i></a> <!--a href="#" target="_blank"><i class="fa fa-twitter-square" title="eUttaranchal on Twitter"></i></a> <a href="#" target="_blank"><i class="fa fa-youtube-square" title="uttarakhandtraveller on Youtube"></i></a>  <a href="#" target="_blank"><i class="fa fa-google-plus" title="uttarakhandtraveller on Google+"></i></a-->
              <a href="https://instagram.com/uttarakhandtraveller" target="_blank"><i class="fa fa-instagram" title="uttarakhandtraveller on Instagram"></i></a></div>
              <div class="copyright">All rights reserved. &copy; <a href="http://www.uttarakhandtraveller.com">uttarakhandtraveller.com</a><br/>
              <a href="{% url 'terms_and_conditions' %}" style="color:white;"><i class="fa fa-info-circle">Terms and conditions</i></a>
              </div>
            </div>
          </div>
        <!--/div-->
      </div>
{% endblock content %}
