{% extends "base.html" %}

{% load crispy_forms_tags %}
{% load staticfiles %}


{% block head_title %}{{ title }} | {{ block.super }}{% endblock %}



{% block style %}
<style>
  .card:hover {
  background-color:#F0F8FF;
  }
</style>
{% include 'post_style.html' %}
{% endblock %}


{% block content %}
<div class="container">
  <div class="row pad-top-30">
    <div class='col-sm-6'>
      <div class="text-center">
        <h2>{{ title }}, {{ spot.place.name }}</h2>
      </div>
      <div id="myCarousel" class="carousel slide text-center" data-ride="carousel" data-interval="false">

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
          {% for image in images %}
            {% if forloop.first %}
              <div class="item active">
                <img src="{{ image.url.url }}" class='img-responsive' style="height:350px;width:500px;">
              </div>
              {% else %}
              <div class="item">
                  <img src="{{ image.url.url }}" class='img-responsive' style="height:350px;width:500px;">
              </div>
            {% endif %}
          {% endfor %}

        </div>
        <!-- Left and right controls -->
        {% if hasMul %}
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
          </a>
          {% endif %}
      </div>
       <script type="text/javascript" src="//platform-api.sharethis.com/js/sharethis.js#property=5ac71b2c003b52001341b53c&product=inline-share-buttons"></script>
       <br>
        <div class="sharethis-inline-share-buttons"></div>

      <!--p><div class="fb-like" data-href="{{ request.build_absolute_uri }}" data-layout="button_count" data-action="like"  data-show-faces="true" data-share="true"></div></p-->

      <div class='row'>
        <div class='col-sm-12 text-left'>
          <p>{{ spot.description|linebreaks }}</p>
          
          {%if spot.how_to_reach %}
          <h3> How To Reach</h3>
          <p>{{ spot.how_to_reach|linebreaks }}</p>
          {% endif%}
          <div class="col-xs-4 col-xs-offset-2 col-sm-4 col-sm-offset-3">
            <a href="http://go.uttarakhandtraveller.com/upload/{{ spot.name }}" class="btn btn-info btn-sm">
              <span class="glyphicon glyphicon-plus"></span> Add Photos of {{ spot.name }}
            </a>
          </div>
          
          <div class="fb-comments" data-href="{{ request.build_absolute_uri }}"  data-numposts="5"></div>
		    </div>
      </div>
    </div>

    <div class="col-sm-6">
    {% if spots %}
    <div class="row">
    <center><h3>Nearby Places to visit in {{spot.place.name}}</h3></center>
    {% for spot in spots %}
    <!--div class="col-sm-3 col-sm-offset-2"-->
    {%if forloop.counter <= 4 %}
      <div class="col-xs-6 col-sm-4">
            <div class="col-sm-12">
                <div class="thumbnail card">
                    <a href='{{ spot.get_absolute_url }}'><img src="{{spot.image.all.0.url.url }}" style="height:120px;width:250px;" class='img-responsive img-rounded image' /></a>
                    <div class="text-center">
                        <h5><a href='{{ spot.get_absolute_url }}'>{{ spot.name|truncatewords:2 }}</a></h5>
                    </div>
                </div>
            </div>
      </div>
      {% else %}
      <div class="col-xs-6 col-sm-4 hidden-xs">
            <div class="col-sm-12">
                <div class="thumbnail card">
                    <a href='{{ spot.get_absolute_url }}'><img src="{{spot.image.all.0.url.url }}" style="height:120px;width:250px;" class='img-responsive img-rounded image' /></a>
                    <div class="text-center">
                        <h5><a href='{{ spot.get_absolute_url }}'>{{ spot.name|truncatewords:2 }}</a></h5>
                    </div>
                </div>
            </div>
        </div>
      {% endif %}
      {% endfor %}
      <div class="row">
        <div class="col-sm-12 text-center">
            <a href='{{ spots_url }}'><button type="button" class="btn btn-primary">View All Places</button></a> 
        </div>
        </div>
      </div>
  {% endif %}

  {% if places %}
  <div class="row">    
      <center><h3>Related Places</h3></center>
        {% for place in places %}
          {% if forloop.counter <= 2%}
          <div class="col-xs-6 col-sm-4">
                <div class="col-sm-12">
                    <div class="thumbnail card">
                        <a href='{{ place.get_absolute_url }}'><img src="{{ place.image.all.0.url.url }}" style="height:120px;width:250px;" class='img-responsive image' /></a>
                        <div class="caption">
                            <h5 class="text-center"><a href='{{ place.get_absolute_url }}'>{{ place.name }}</a></h5>
                        </div>
                    </div>
                </div>
          </div>
          {% else %}
          <div class="col-xs-6 col-sm-4 hidden-xs">
              <div class="col-sm-12">
                  <div class="thumbnail card">
                      <a href='{{ place.get_absolute_url }}'><img src="{{ place.image.all.0.url.url }}" style="height:120px;width:250px;" class='img-responsive image' /></a>
                      <div class="caption">
                          <h5 class="text-center"><a href='{{ place.get_absolute_url }}'>{{ place.name }}</a></h5>
                      </div>
                  </div>
              </div>
        </div>
          {% endif %}
      {% endfor %}
    </div>
  {% endif %}
  </div>
  </div>
</div>
<div class="footer" style="background-color:#0E3D14;color:white;">
    <div class="row">
      <div class="col-sm-12 text-center">
        <div class="footer-social-icons"><a href="https://www.facebook.com/uttarakhandtravellers/" target="_blank"><i class="fa fa-facebook-square" title="uttarakhandtraveller on Facebook"></i></a> <!--a href="#" target="_blank"><i class="fa fa-twitter-square" title="eUttaranchal on Twitter"></i></a> <a href="#" target="_blank"><i class="fa fa-youtube-square" title="uttarakhandtraveller on Youtube"></i></a>  <a href="#" target="_blank"><i class="fa fa-google-plus" title="uttarakhandtraveller on Google+"></i></a-->
        <a href="https://instagram.com/uttarakhandtraveller" target="_blank"><i class="fa fa-instagram" title="uttarakhandtraveller on Instagram"></i></a></div>
        <div class="copyright">All rights reserved. &copy; <a href="http://www.uttarakhandtraveller.com">uttarakhandtraveller.com</a><br/>
        <a href="{% url 'terms_and_conditions' %}" style="color:white;"><i class="fa fa-info-circle">Terms and conditions</i></a>
        </div>
      </div>
  </div>
</div>
<script>
  (function (w,i,d,g,e,t,s) {w[d] = w[d]||[];t= i.createElement(g);
    t.async=1;t.src=e;s=i.getElementsByTagName(g)[0];s.parentNode.insertBefore(t, s);
  })(window, document, '_gscq','script','//widgets.getsitecontrol.com/139793/script.js');
</script>

{% endblock content %}
