{% extends "base.html" %}
{% load staticfiles %}

{% block head_title %} {{title}}| Blogger | {{ block.super }}{% endblock %}
  
{% block style %}
  <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.0/css/foundation.min.css'>
  <link rel='stylesheet' href="{% static 'css/blogger.css' %}">
{% endblock %}


  {% block content %}
  <div class="row">
    <div class="col-sm-12 col-lg-offset-4">
    <div class="small-12 medium-4 team-card columns">
      <div class="team-avatar" style="background-image: url({% if blogger.image %}{{ blogger.image }} {% else %}http://www.uttarakhandtraveller.com/media/places/None/profile_picture.png {% endif %});">
        <div class="team-description">
          <div class="team-avatar-round-container">
            <div class="team-avatar-round" style="background-image: url({% if blogger.image %}{{ blogger.image }} {% else %}http://www.uttarakhandtraveller.com/media/places/None/profile_picture.png {% endif %});"></div>
          </div>
          <span class="team-name">{{ blogger.user.fname }} {{ blogger.user.lname }}</span><br>
          <span class="team-position">{{ blogger.short_bio }}<br/>Total Views : {{views}}</span>
          <p>{{ blogger.description }}</p>
          <!--a href="" class="team-button"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
          <a href="" class="team-button"><i class="fa fa-linkedin" aria-hidden="true"></i></a-->
        </div>
      </div>
    </div>
  </div>
</div>

  <div class="row pad-top-30">
    <div class="col-md-12">
      <div class="panel panel-default">
       <div class="panel-heading">
         <h3 class="panel-title">Top Articles by {{ blogger.user.fname }}</h3>
       </div>
       <div class="panel-body">
         {% for post in posts%}  
         <div class="media">
             <a class="pull-left" href="{{ post.get_absolute_url }}">
               <img class="media-object img-rounded" height="100" width="200" src="{% if post.image_url %} {{post.image_url.url}} {% else %} {{ post.image.all.0.url }} {% endif %}" alt="...">
             </a>
             <div class="media-body">
               <h4 class="media-heading">{{ post.title }}</h4>
               <p> {{ post.description|truncatewords:80}}</p>
               <a href="{{ post.get_absolute_url }}"><button type="button" class="btn btn-primary">Read Article</button>
             </div>
        </div>
          {% endfor %}
       </div>
       <!--a class="panel-readmore" href="#">Know More</a-->
     </div>

    </div>
    </div>
  <div class="footer navbar-fixed-bottom" style="background-color:#0E3D14;color:white;">
    <!--div class="container"-->
      <div class="row pad-top-30">
        <div class="col-md-12 text-center">
          <div class="footer-social-icons"><a href="https://www.facebook.com/uttarakhandtravellers/" target="_blank"><i class="fa fa-facebook-square" title="uttarakhandtraveller on Facebook"></i></a> <!--a href="#" target="_blank"><i class="fa fa-twitter-square" title="eUttaranchal on Twitter"></i></a> <a href="#" target="_blank"><i class="fa fa-youtube-square" title="uttarakhandtraveller on Youtube"></i></a>  <a href="#" target="_blank"><i class="fa fa-google-plus" title="uttarakhandtraveller on Google+"></i></a-->
          <a href="https://instagram.com/uttarakhandtraveller" target="_blank"><i class="fa fa-instagram" title="uttarakhandtraveller on Instagram"></i></a></div>
          <div class="copyright">All rights reserved. &copy; <a href="http://www.uttarakhandtraveller.com">uttarakhandtraveller.com</a><br/>
          <a href="{% url 'terms_and_conditions' %}" style="color:white;"><i class="fa fa-info-circle">Terms and conditions</i></a>
          </div>
        </div>
      </div>
    <!--/div-->
  </div>
  {% endblock %}
  