{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}


{% block head_title %}Blog | {{ block.super }}{% endblock %}

{% block style %}

{% include 'post_style.html' %}
{% endblock %}

{% block container %}
<!--div class="container"-->
<div class="row">
<div class='col-sm-6 col-sm-offset-1'>
    <h1>{{ title }}</h1>
    <form method='GET' action='' class='row'>
        <div class='col-sm-6'>
            <div class='input-group'>
                <input class='form-control' type='text' name='q' placeholder='Search posts' value='{{ request.GET.q }}'/>
                <span class='input-group-btn'>
                    <!-- <input class='btn btn-default' type='submit' value='Search' /> -->
                    <button class='btn btn-default' type='submit'>Search <i class="fa fa-search"></i></button>
                </span>
            </div>
        </div>
</form>

    <!--form method='GET' action=''>
    <input  type='text' name='q' placeholder='Search articles' value='{{ request.GET.q }}'/>
    <input type='submit' value='Search' />
  </form-->
    {% if posts %}
      {% for post in posts %}
      <div class="row">
          <div class="col-sm-12">
              <div class="thumbnail">
                  <img src='{% if post.image_url %} {{ post.image_url.url }} {% else %} {{ post.image.all.0.url }} {% endif %}'  class='img-responsive'/>

                  <div class="caption">
                      <h3><a href='{{ post.get_absolute_url }}'>{{ post.title }}</a> <small>{{ post.cr_date }}</small></h3>
                      <p>Author: {{ post.blogger.user.fname }}&nbsp{{post.blogger.user.lname}},&nbsp{{post.blogger.short_bio}}</p>
                        <p>{{ post.description|truncatewords:50 }}</p>
                        <p class="text-center"><a href="{{ post.get_absolute_url }}" class="btn btn-primary " role="button">Read More</a></p>
                       
                    </div>
              </div>
          </div>
      </div>
      {% endfor %}
      <div class="pagination">
        <span class="step-links">
          <ul class="pager">
          {% if posts.has_previous %}
              <li><a href="?{{ page_request_var }}={{ posts.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">previous</a></li>
          {% endif %}

          <span class="current">
              <li><h5>Page {{ posts.number }} of {{ posts.paginator.num_pages }}.</h5></li>
          </span>

          {% if posts.has_next %}
              <li><a href="?{{ page_request_var }}={{ posts.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">next</a></li>
          {% endif %}
          </ul>
        </span>
      </div>
    {% else %}
        <h1>{{ no_posts }}</h1>
    {% endif %}
</div>
<div class="col-sm-3 col-sm-offset-2">
        <div class="list-group">
  			<a href="{% url 'home' %}" class="list-group-item">Home</a>
  			<a href="{% url 'post_list' %}" class="list-group-item active">Blog</a>
  			<a href="{% url 'about' %}" class="list-group-item">About</a>
  			<a href="{% url 'contact' %}" class="list-group-item">Contact Us</a>
            <a href="{% url 'facebook_posts' %}" class="list-group-item">Facebook Posts</a>
            <a href="http://go.uttarakhandtraveller.com/upload" class="list-group-item">Upload Photos</a>
        </div>
        <h3>Top 5 Places To Visit</h3>
        <div class="grey-list-group">
          <a href = "{% url 'places:place_detail' 'nainital' %}" class="list-group-item">
            <h4 class="list-group-item-heading">Nainital</h4>
            <!--p class="list-group-item-text">...</p-->
            </a>
            <a href = "{% url 'places:place_detail' 'devprayag' %}" class="list-group-item">
            <h4 class="list-group-item-heading">Devprayag</h4>
            </a>
            <a href="{% url 'places:place_detail' 'almora' %}" class="list-group-item">
            <h4 class="list-group-item-heading">Almora</h4>
            </a>
            <a href="{% url 'places:place_detail' 'kausani' %}" class="list-group-item">
            <h4 class="list-group-item-heading">Kausani</h4>
            </a>
            <a href="{% url 'places:place_detail' 'ranikhet' %}" class="list-group-item">
            <h4 class="list-group-item-heading">Ranikhet</h4>
            </a>
      </div>
</div>
</div>
    <!--footer>
  <p>Copyright &copy; Uttarakhand Traveller. All rights reserved.</p>
  </footer-->
 <div>
  <div class="container">
    <div class="row">
      <div class="col-md-7 text-center">
        <div class="footer-social-icons"><a href="https://www.facebook.com/uttarakhandtravellers/" target="_blank"><i class="fa fa-facebook-square" title="uttarakhandtraveller on Facebook"></i></a> <!--a href="#" target="_blank"><i class="fa fa-twitter-square" title="eUttaranchal on Twitter"></i></a> <a href="#" target="_blank"><i class="fa fa-youtube-square" title="uttarakhandtraveller on Youtube"></i></a>  <a href="#" target="_blank"><i class="fa fa-google-plus" title="uttarakhandtraveller on Google+"></i></a--><a href="https://instagram.com/uttarakhandtraveller" target="_blank"><i class="fa fa-instagram" title="uttarakhandtraveller on Instagram"></i></a></div>
        <div class="copyright">All rights reserved. &copy; <a href="http://www.uttarakhandtraveller.com">uttarakhandtraveller.com</a><br/>
          <a href="{% url 'terms_and_conditions' %}" ><i class="fa fa-info-circle">Terms and conditions</i></a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
