{% extends "base.html" %}

{% load crispy_forms_tags %}
{% load staticfiles %}


{% block head_title %}{{ title }} | {{ block.super }}{% endblock %}



{% block style %}

{% include 'post_style.html' %}
{% endblock %}


{% block content %}
<div class="container">
  <div class="row">
    <div class='col-sm-6'>
      <!--img src='{% if post.image_url %} {{ post.image_url.url }} {% else %} {{ post.image.all.0.url }} {% endif %}' class='img-responsive' /-->
      <h1>{{ title }} <small>{{ post.cr_date }}</small></h1>

      <a href="{{ post.blogger.get_absolute_url }}"><p><h4>Author: {{ post.blogger.user.fname }} {{ post.blogger.user.lname }},&nbsp{{ post.blogger.short_bio }}</h4></p></a>
        <script type="text/javascript" src="//platform-api.sharethis.com/js/sharethis.js#property=5ac71b2c003b52001341b53c&product=inline-share-buttons"></script>
       <br>

      <div class='row'>
        <div class='col-sm-12'>
          {% if post.image_url %}
          <img src='{{ post.image_url.url }}' class='img-responsive' />
          {% endif %}
          <!--p>{{ post.description|linebreaks }}</p-->
          <!--img src='{% if post.image_url %} {{ post.image_url.url }} {% else %} {{ post.image.all.0.url }} {% endif %}' class='img-responsive' /-->
          {% for data in image_description_data%}
          {% if data.image %} <img src="{{ data.image }}" class='img-responsive' />{% endif %}
          {% if data.description %} <p>{{ data.description|linebreaks }}</p> {% endif %}
          {% endfor %}

		    </div>
      </div>
      <div class="fb-comments" data-href="{{ request.build_absolute_uri }}"  data-numposts="5"></div>
      <ul class="pager">
      <li><a href="{{ prev.get_absolute_url }}">Previous</a></li>
      <li><a href="{{ next.get_absolute_url }}">Next</a></li>
      </ul>

    </div>
    <div class="col-sm-6">
      
        <!--div class="col-sm-3 col-sm-offset-2"-->
          {% if post_latest %}
          <div class="row">
            <center><h3>Latest articles</h3></center>
            {% for post in post_latest %}
            <!--div class="col-sm-3 col-sm-offset-2"--> 
              <div class="col-sm-6">
                  <div class="col-sm-12">
                      <div class="thumbnail">
                          <a href='{{ post.get_absolute_url }}'><img src="{% if post.image_url %}{{ post.image_url.url }}{% else %}{{ post.image.all.0.url }}{% endif %}" style="height:120px;width:250px;" class='img-responsive img-rounded image' /></a>
                          <div class="text-center">
                              <h5 class="text-center"><a href='{{ post.get_absolute_url }}'>{{ post.title|truncatewords:5 }}</a></h5>
                          </div>
                      </div>
                  </div>
              </div>
            {% endfor %}
            </div>
        {% endif %}

        <!--div class="col-sm-3 col-sm-offset-2"-->
        {% if post_author %}
          <div class="row">
              <center><h3>Suggested Articles</h3></center>
              {% for post in post_author %}
              <!--div class="col-sm-3 col-sm-offset-2"--> 
              <div class="col-sm-6">
                  <div class="col-sm-12">
                            <div class="thumbnail">
                                <a href='{{ post.get_absolute_url }}'><img src="{% if post.image_url %}{{ post.image_url.url }}{% else %}{{ post.image.all.0.url }}{% endif %}" style="height:120px;width:250px;" class='img-responsive img-rounded image' /></a>
                                <div class="text-center">
                                    <h5 class="text-center"><a href='{{ post.get_absolute_url }}'>{{ post.title|truncatewords:5 }}</a></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                  {% endfor %}
                  </div>
              {% endif %}

        {% if place_suggestion %}
          <div class="row">    
            <center><h3>View Places in Uttarakhand</h3></center>
                {% for place in place_suggestion %}
                {% if forloop.counter <= 2%}
                <div class="col-xs-6 col-sm-4">
                      <div class="col-sm-12">
                          <div class="thumbnail">
                              <a href='{{ place.get_absolute_url }}'><img src="{{ place.image.all.0.url.url }}" style="height:120px;width:250px;" class='img-responsive image' /></a>
                              <div class="caption">
                                  <h5 class="text-center"><a href='{{ place.get_absolute_url }}'>{{ place.name }}</a></h5>
                              </div>
                          </div>
                      </div>
                </div>
                {% else %}
                <div class="col-xs-6 col-sm-4 hidden-xs">
                    <div class="col-sm-12">
                        <div class="thumbnail">
                            <a href='{{ place.get_absolute_url }}'><img src="{{ place.image.all.0.url.url }}" style="height:120px;width:250px;" class='img-responsive image' /></a>
                            <div class="caption">
                                <h5 class="text-center"><a href='{{ place.get_absolute_url }}'>{{ place.name }}</a></h5>
                            </div>
                        </div>
                    </div>
              </div>
                {% endif %}
                {% endfor %}
              </div>
          {% endif %}
        </div>
  </div>
</div>
<div style="background-color:#0E3D14;color:white;">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="footer-social-icons"><a href="https://www.facebook.com/uttarakhandtravellers/" target="_blank"><i class="fa fa-facebook-square" title="uttarakhandtraveller on Facebook"></i></a> <!--a href="#" target="_blank"><i class="fa fa-twitter-square" title="eUttaranchal on Twitter"></i></a> <a href="#" target="_blank"><i class="fa fa-youtube-square" title="uttarakhandtraveller on Youtube"></i></a>  <a href="#" target="_blank"><i class="fa fa-google-plus" title="uttarakhandtraveller on Google+"></i></a-->
        <a href="https://instagram.com/uttarakhandtraveller" target="_blank"><i class="fa fa-instagram" title="uttarakhandtraveller on Instagram"></i></a></div>
        <div class="copyright">All rights reserved. &copy; <a href="http://www.uttarakhandtraveller.com">uttarakhandtraveller.com</a><br/>
          <a href="{% url 'terms_and_conditions' %}" style="color:white;"><i class="fa fa-info-circle">Terms and conditions</i></a>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  (function (w,i,d,g,e,t,s) {w[d] = w[d]||[];t= i.createElement(g);
    t.async=1;t.src=e;s=i.getElementsByTagName(g)[0];s.parentNode.insertBefore(t, s);
  })(window, document, '_gscq','script','//widgets.getsitecontrol.com/139793/script.js');
</script>
{% endblock content %}
