body {
  min-height: 1000px;
}

.navbar-fixed-top {
  margin-bottom: 19px;
  background-color: #0E3D14;
  border-color: #1A5F23;
  color: #ffffff;
 }

.navbar-default .navbar-brand {
  color: #ffffff;
}

.navbar-default .navbar-brand:hover {
  color: #777;
}

.navbar-default .navbar-nav>li>a:hover {
  color: #999;
}

.navbar-default .navbar-toggle {
 border-color: transparent !important;
}

.navbar-toggle:hover {
	background-color: #1A5F23 !important;
}

.navbar-toggle {
	background-color: #0E3D14 !important;
}