{% extends 'base.html' %}
{% load staticfiles %}

{% load crispy_forms_tags %}

{% block head_title %}About | {{ block.super }}{% endblock %}
{% block style %}
<style>
	h1 {
	font-family: "Bodoni MT", Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
	font-size: 35px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
}
h3 {
	font-family: "Bodoni MT", Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
	font-size: 20px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 15.4px;
}
p {
	font-family: "Bodoni MT", Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
	font-size: 20px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
}
blockquote {
	font-family: "Bodoni MT", Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
	font-size: 21px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 30px;
}
pre {
	font-family: "Bodoni MT", Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
	font-size: 13px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 18.5714px;
}

</style>
{% endblock %}
{% block content %}
    <div class="container">

        <!-- Introduction Row -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">About Us</h1>
                <p>We are a team of Engineers and students who love Uttarakhand and strongly believe in the beauty of nature of Uttarakhand. We travel, explore , help people explore and also share their travelling experience in Uttarakhand.</p>
            </div>
        </div>

        <!-- Team Members Row -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Our Team</h2>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-rounded img-responsive img-center" src="{%static 'img/deep.jpg' %}" alt="" height=90% width=90% >
                <h3>Deepak Mehta
                    <small><strong>Strategist,Web developer,Traveler</strong></small>
                </h3>
                <p>CS grad from KIIT University , 2016. Loves traveling, walking and trekking places in Uttarakhand, cultural enthusiast. Created , maintains and upgrades uttarakhandtraveller.com , also plans and makes strategies how Uttarakhand Traveller will grow in the field as well as socially.<br/>
									<a href="https://www.linkedin.com/in/deepak-mehta-1955684b/"><i class="fa fa-linkedin-square"></i></a>
								</p>
			</div>
            <!--div class="col-lg-4 col-sm-6 text-center">
                <img class="img-rounded img-responsive img-center" src="{%static 'img/tanzeel.jpg' %}" alt="" height=120% width=100% >
                <h3>Tanzeel Mirza
                    <small><strong>Support Engineer, Junior Strategist, Core team</strong></small>
                </h3>
                <p>Born and brought up at Pauri Garhwal, Uttarakhand. Software developer by profession. Deeply connected to motherland Uttarakhand. In a relationship with the native Garhwali and Kumaoni culture. Loves food, pahadi music, travelling random places for days all alone, hiking and camping.</p>
            </div-->
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-rounded img-responsive img-center" src="{%static 'img/bhartu.jpg' %}" alt=""  >
                <h3>Bhartendu Mehta
                    <small><strong>Founder, Video Editor</strong></small>
                </h3>
                <p>B.Com(Hons) grad from Delhi University, 2016. Loves making short films, direction enthusiast and aspirant, owns view art films production. One of the early starters of Uttarakhand Traveller facebook page.</p>
            </div>

        </div>
        <div class="row">
         <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-rounded img-responsive img-center" src="{%static 'img/suraj.jpg' %}" alt="" height=75% width=75% >
                <h3>Suraj Kumar
                    <small><strong>Field expert, Web intern, Core team</strong></small>
                </h3>
                <p>IT grad student at Govind Ballabh Pant University. Loves traveling, walking and trekking places in Uttarakhand.Also plan s and makes strategies how Uttarakhand Traveller will grow in the field as well as socially.</p>
            </div>

            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-rounded img-responsive img-center" src="{%static 'img/chandu.jpg' %}" alt="" >
                <h3>Chandan Koranga
                    <small><strong>Traveler, Core team</strong></small>
                </h3>
                <p>Traveller at Uttarakhand Traveller, core team member. Trekking expert , Editor at Uttarakhand Traveller facebook page.</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-rounded img-responsive img-center" src="{%static 'img/neha.jpg' %}" alt="" height=70% width=70% >
                <h3>Neha Pandey
                    <small><strong>Article Writer, Core team</strong></small>
                </h3>
                <p>Education scholar at Kumaon University.Loves traveling, walking and trekking places in Uttarakhand, cultural enthusiast. Editor head at Uttarakhand Traveller facebook page, content writer at uttarakhandtraveller.com. </p>
            </div>
        </div>
        <hr>
    </div>
		<div class="container">
			<div class="row pad-top-30">
	   		<div class="col-md-12">
	   			<div class="panel panel-default">
	  				<div class="panel-heading">
	  					<h1 class="panel-title text-center">Founder's Note</h1>
	  				</div>
	  				<div class="panel-body">
	  				    <div class="media">
	  				    	<a class="pull-left" href="#">
	  				    		<img class="media-object img-rounded img-responsive" style="height:150px;" src="{% static 'img/logo.jpg' %}" alt="...">
	  				    	</a>
	  				    	<div class="media-body">
											<p>First and for most of all, thank you for visiting our website.<br/>
											Uttarakhand Traveller is my one of the projects to express my deep unconditional love for Uttarakhand and its culture.<br/>
											Uttarakhand Traveller aims to share information on Uttarakhand Tourism, hopes tohelp people to reach to best destinations in the state.<br/>
											Along with that, we also want to achieve some business out of it to support this initiative and earn ourselves livelihood.<br/>
											We believe in collaboration and growing together. Anyone interested to help this cause should contact us and let's sit together for a cup of chai and <br/>
											discussion. Just write us in here. <a href="{% url 'contact' %}">contact us</a><br/>
											We have strong web development unit and we also accept freelancing works on web development or consult web development.<br/>
											Technology stack we are using: Python , Django ,Golang, Echo ,Apache2 
										</p>
	                </div>
	  				    </div>
						</div>
				</div>
			</div>
		</div>
	 </div>
        <!-- Footer -->
    <div class="fixed-bottom" style="background-color:#0E3D14;color:white;">
	  <div class="container">
	    <div class="row">
	      <div class="col-md-12 text-center">
	        <div class="footer-social-icons"><a href="https://www.facebook.com/uttarakhandtravellers/" target="_blank"><i class="fa fa-facebook-square" title="uttarakhandtraveller on Facebook"></i></a> <!--a href="#" target="_blank"><i class="fa fa-twitter-square" title="eUttaranchal on Twitter"></i></a> <a href="#" target="_blank"><i class="fa fa-youtube-square" title="uttarakhandtraveller on Youtube"></i></a>  <a href="#" target="_blank"><i class="fa fa-google-plus" title="uttarakhandtraveller on Google+"></i></a></div--><a href="https://instagram.com/uttarakhandtraveller" target="_blank"><i class="fa fa-instagram" title="uttarakhandtraveller on Instagram"></i></a>
	        <div class="copyright">All rights reserved. &copy; <a href="http://www.uttarakhandtraveller.com">uttarakhandtraveller.com</a></div>
					<a href="{% url 'terms_and_conditions' %}" style="color:white;"><i class="fa fa-info-circle">Terms and conditions</i></a>
				</div>
    </div>
  </div>
</div>


{% endblock %}
