{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block head_title %}Contact Us | {{ block.super }}{% endblock %}

{% block content %}
<div class="container" style="background-color:#F0F8FF;">
    <br/><br/>
    <section class="text-center">
      Say Hello to us!
      We are happy to get in touch woth you. Share your ideas and interests with us, we love suggestions.
    </section>
<center><h1>Contact Us</h1>
<form role="form" action="" method="post">
    {% csrf_token %}
    {{ form | crispy }}
   <input class = 'btn btn-primary' type='submit' value='Send' />
</form></center>
</div>
<div class="row">
    <div class="col-md-12 text-center">
        <div class="footer-social-icons"><a href="https://www.facebook.com/uttarakhandtravellers/" target="_blank"><i class="fa fa-facebook-square" title="uttarakhandtraveller on Facebook"></i></a> <!--a href="#" target="_blank"><i class="fa fa-twitter-square" title="eUttaranchal on Twitter"></i></a> <a href="#" target="_blank"><i class="fa fa-youtube-square" title="uttarakhandtraveller on Youtube"></i></a>  <a href="#" target="_blank"><i class="fa fa-google-plus" title="uttarakhandtraveller on Google+"></i></a></div--><a href="https://instagram.com/uttarakhandtraveller" target="_blank"><i class="fa fa-instagram" title="uttarakhandtraveller on Instagram"></i></a>
        <div class="copyright">All rights reserved. &copy; <a href="http://www.uttarakhandtraveller.com">uttarakhandtraveller.com</a></div>
        <a href="{% url 'terms_and_conditions' %}"><i class="fa fa-info-circle">Terms and conditions</i></a>
      </div>
    </div>
  </div>
{% endblock %}
