{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}


{% block head_title %}Making you fall in love with Uttarakhand | {{ block.super }}{% endblock %}




{% block style %}
{% include 'style.html' %}
{% endblock %}




{% block jumbotron %}

<div class="jumbotron">
	<div class="container" style="background:transparent;">
		<div class="row">
			<div class='col-sm-7 col-md-offset-5'>
				<div class="jumbotron-content"></div><br/><br/>
				<h1>Uttarakhand Traveller</h1>
				<p class="lead"> We make you fall in love with Uttarakhand.</p>
				</div>
			</div>
			<!--div class='col-sm-6' >
				<iframe width="560" height="315" src="https://www.youtube.com/embed/Z-NC987aYXI" frameborder="0" allowfullscreen></iframe>

	 		</div-->
		</div>
	</div>
 </div>


 <div class="container">
	 <div class="row">
	 {% for bp in blogpost %}
 		<div class="col-md-4">
 			<div class="bluebox">
 				<h3>{{ bp.title }}</h3>
 				<p> {{ bp.description|truncatewords:30 }}</p>
 				<a class="readmore" href="{{ bp.get_absolute_url }}"> Read More</a>
 			</div>
 		</div>
	{% endfor %}
	 </div>
 	<div class="row pad-top-30">
 		<div class="col-md-8">
 			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Places And Facts About Uttarakhand</h3>
				</div>
				<div class="panel-body">
				    <div class="media">
				    	<a class="pull-left" href="#">
				    		<img class="media-object img-rounded" src="{% static 'img/kedarkantha.jpg' %}" alt="...">
				    	</a>
				    	<div class="media-body">
				    		<h4 class="media-heading">Kedarkantha Peak</h4>
				    		<p> Kedarkantha is a mountain peak of the Himalayas in Govind Wildlife Sanctuary Uttarakhand. Its elevation is 12,500 ft.
							The climb to the peak of Kedarkantha starts from a small village called as Sankri. There are a total of 13 peaks of the Himalayan range visible from the Kedarkantha peak. </p>
				    	</div>
				    </div>

				    <div class="media">
				    	<a class="pull-left" href="#">
				    		<img class="media-object img-rounded" src="{% static 'img/rudradhari.jpg' %}" alt="...">
				    	</a>
				    	<div class="media-body">
				    		<h4 class="media-heading">Rudradhari Caves</h4>
				    		<p> udradhari caves and falls are located in Kasauni- Almore road with 12 km distance from Kasauni. People who are adventurous and willing to experience thrill and seclusion of being in a forest should definitely visit these caves and falls. There is also a small ‘Someshwar’ temple situated near by falls, devotees have strong faith and spiritual connection with this temple.</p>
				    	</div>
				    </div>

				    <div class="media">
				    	<a class="pull-left" href="#">
				    		<img class="media-object img-rounded" src="{% static 'img/Chaukhamba.jpg' %}" alt="...">
				    	</a>
				    	<div class="media-body">
				    		<h4 class="media-heading">Chaukhamba</h4>
				    		<p> Chaukhamba Viewpoint is a mesmerizing place which offers to its visitors captivating panoramas of beautiful Idwal valley. Situated 4km from Pauri, one can witness the spellbinding glaciers, the source of water for River Ganga.
							The thick cover of rhododendron and oak forest is the major attraction of the place.</p>
				    	</div>
				    </div>
				</div>
				<!--a class="panel-readmore" href="#">Know More</a-->
			</div>

 		</div>
 		 <!--sidebar -->
 		<div class="col-md-4">
 			<div class="list-group">
  			  <a href="{% url 'home' %}" class="list-group-item active">
  			    Home
  			  </a>
  			  <a href="{% url 'post_list' %}" class="list-group-item ">Blog</a>
  			  <!--a href="{% url 'comingsoon' %}" class="list-group-item">Places And Facts</a-->
  			  <a href="{% url 'about' %}" class="list-group-item">About</a>
  			  <a href="{% url 'contact' %}" class="list-group-item">Contact Us</a>
					<a href="{% url 'facebook_posts' %}" class="list-group-item">Facebook Posts</a>
					<a href="http://go.uttarakhandtraveller.com/upload" class="list-group-item">Upload Photos</a>
			</div>
			<h3>Top 5 Places To Visit</h3>
			<div class="grey-list-group">
				<a href = "{% url 'places:place_detail' 'nainital' %}" class="list-group-item">
			  <h4 class="list-group-item-heading">Nainital</h4>
			  <!--p class="list-group-item-text">...</p-->
				</a>
				<a href = "{% url 'places:place_detail' 'devprayag' %}" class="list-group-item">
			  <h4 class="list-group-item-heading">Devprayag</h4>
				</a>
				<a href="{% url 'places:place_detail' 'almora' %}" class="list-group-item">
			  <h4 class="list-group-item-heading">Almora</h4>
				</a>
				<a href="{% url 'places:place_detail' 'kausani' %}" class="list-group-item">
			  <h4 class="list-group-item-heading">Kausani</h4>
				</a>
				<a href="{% url 'places:place_detail' 'ranikhet' %}" class="list-group-item">
			  <h4 class="list-group-item-heading">Ranikhet</h4>
				</a>
		  </div>
 		</div>

 	</div>
 </div>
<div class="footer" >
  <footer class="fixed-bottom">
  <div class="copyright"></div>
    <p>Copyright &copy; Uttarakhand Traveller. All rights reserved.</p>
  <a href="{% url 'terms_and_conditions' %}" style="color:white;"><i class="fa fa-info-circle">Terms and conditions</i></a>
  </footer>
</div>
{% endblock %}
