{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}


{% block head_title %}Making you fall in love with Uttarakhand | {{ block.super }}{% endblock %}




{% block style %}

<link href="{% static 'css/image_hover.css' %}" rel="stylesheet">

<style>
/* Hover */
.card:hover {
  background-color:#F0F8FF;
}

.nodec{
	text-decoration: none;
}
</style>


{% include 'style.html' %}
{% endblock %}

{% block jumbotron %}

<div class="jumbotron">
	<div class="container" style="background:transparent;">
		<div class="row">
			<div class='col-sm-7 col-md-offset-5'>
				<div class="jumbotron-content"></div>
				<h1>Uttarakhand Traveller</h1>
				<p class="lead"> We make you fall in love with Uttarakhand</p>
				</div>
			</div>
		</div>
	</div>

 <div class="container">
	 <div class="row">
		<div class="text-center hidden-xs">
			<h2 style="text-decoration: underline;">Plan your visit in Uttarakhand with Uttarakhand Traveller</h2>
		</div>
		<div class="text-center visible-xs">
			<h4 style="text-decoration: underline;">Plan your visit in Uttarakhand with Uttarakhand Traveller</h4>
		</div>
		{% for place in places %}
		<div class="col-md-4">
				<div class="thumbnail card">
					<a href="{{ place.get_absolute_url }}">
						<div class="hovereffect">
							<img  src="{{ place.image.all.0.url.url }}" alt="Lights" style="height:250px;width:400px;margin-bottom:10px;">
						</div>
					</a>
					<br/>
					<div class="caption text-center">
						<h3 class="hidden-xs">{{ place.name }}</h3>
						<h4 class="visible-xs">{{ place.name }}</h4>
						<p>{{ place.description|truncatechars:150 }}</p>
					</div>
					<div class="text-center">
							<a href="{{ place.get_absolute_url }}"><button type="button" class="btn btn-primary">Explore More</button></a>
					</div>
				</div>
		
		</div>
		{% endfor %}
	</div>
   <!--  Horizontal Slider  -->
   
	<!-- Display destinations here in a set of 4 --> 
	<div class="row pad-top-30">
			<div class="text-center hidden-xs">
					<h2 style="text-decoration: underline;">Top places to visit in Uttarakhand</h2>
			</div>
			<div class="text-center visible-xs">
					<h4 style="text-decoration: underline;">Top places to visit in Uttarakhand</h4>
			</div>
			{% for spot in spots %}
			<div class="col-md-3">
				<div class="thumbnail card">
					<a href="{{ spot.get_absolute_url }}">
						<div class="hovereffect">
							<img  src="{{ spot.image.all.0.url.url }}"  alt="Lights" style="height:200px;width:400px;margin-bottom:10px;">
						</div>
					</a>
					<div class="caption text-center">
							<h3 class="hidden-xs">{{ spot.name }}</h3>
							<h4 class="visible-xs">{{ spot.name }}</h4>
						<p>{{ spot.description|truncatechars:100 }}</p>
					</div>
					<div class="text-center">
							<a href="{{ spot.get_absolute_url }}"><button type="button" class="btn btn-primary">Explore More</button></a>
					</div>	
				</div>
					
			</div>
			{% endfor %}
	</div>

	<!-- Display Temples here in a set of 4 --> 
	<div class="row pad-top-30">
			<div class="text-center hidden-xs">
					<h2 style="text-decoration: underline;">Top Temples to visit in Uttarakhand</h2>
				</div>
				<div class="text-center visible-xs">
					<h4 style="text-decoration: underline;">Top Temples to visit in Uttarakhand</h4>
				</div>
			{% for temple in temples %}
				<div class="col-md-3">
					<div class="thumbnail card">
						<a href="{{ temple.get_absolute_url }}">
							<div class="hovereffect">
								<img src="{{ temple.image.all.0.url.url }}" alt="Lights" style="height:200px;width:400px;margin-bottom:10px;">
							</div>
						</a>
						<div class="caption text-center">
							<h3 class="hidden-xs">{{ temple.name }}</h3>
							<h4 class="visible-xs">{{ temple.name }}</h4>
							<p>{{ temple.description|truncatechars:100 }}</p>
						</div>
						<div class="text-center">
								<a href="{{ temple.get_absolute_url }}"><button type="button" class="btn btn-primary">Explore More</button></a>
						</div>
					</div>
				</div>
			{% endfor %}
	</div>
 	<div class="row pad-top-30">
 		<div class="col-md-8">
 			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title text-center">Top Articles in Uttarakhand Traveller Blog</h3>
				</div>
				<div class="panel-body">
					{% for post in posts%}
				    <div class="media card">
				    	<a class="pull-left" href="{{ post.get_absolute_url }}">
				    		<img class="media-object img-rounded" src="{% if post.image_url %}{{ post.image_url.url }}{% else %}{{ post.image.all.0.url }}{% endif %}" style="height:120px;width:250px;" alt="...">
				    	</a>
				    	<div class="media-body">
				    		<h4 class="media-heading">{{ post.title }}</h4>
				    		<p>{{ post.description|truncatechars:150 }}</p>
				    	</div>
						<div class="text-right">
								<a href="{{ post.get_absolute_url }}"><button type="button" class="btn btn-primary">Read More</button></a>
						</div>
					</div>
					{% endfor %}
				</div>
				<!--a class="panel-readmore" href="#">Know More</a-->
			</div>

 		</div>
 		 <!--sidebar -->
 		<div class="col-md-4">
 			<div class="list-group">
  			  <a href="{% url 'home' %}" class="list-group-item active">
  			    Home
  			  </a>
  			  <a href="{% url 'post_list' %}" class="list-group-item ">Blog</a>
  			  <!--a href="{% url 'comingsoon' %}" class="list-group-item">Places And Facts</a-->
  			  <a href="{% url 'about' %}" class="list-group-item">About</a>
  			  <a href="{% url 'contact' %}" class="list-group-item">Contact Us</a>
					<a href="{% url 'facebook_posts' %}" class="list-group-item">Facebook Posts</a>
					<a href="http://go.uttarakhandtraveller.com/upload" class="list-group-item">Upload Photos</a>
			</div>
			<h3>Top 5 Places To Visit</h3>
			<div class="grey-list-group">
				<a href = "{% url 'places:place_detail' 'nainital' %}" class="list-group-item">
			  <h4 class="list-group-item-heading">Nainital</h4>
			  <!--p class="list-group-item-text">...</p-->
				</a>
				<a href = "{% url 'places:place_detail' 'devprayag' %}" class="list-group-item">
			  <h4 class="list-group-item-heading">Devprayag</h4>
				</a>
				<a href="{% url 'places:place_detail' 'almora' %}" class="list-group-item">
			  <h4 class="list-group-item-heading">Almora</h4>
				</a>
				<a href="{% url 'places:place_detail' 'kausani' %}" class="list-group-item">
			  <h4 class="list-group-item-heading">Kausani</h4>
				</a>
				<a href="{% url 'places:place_detail' 'ranikhet' %}" class="list-group-item">
			  <h4 class="list-group-item-heading">Ranikhet</h4>
				</a>
		  </div>
 		</div>

 	</div>
 </div>
<div class="footer" >
  <footer class="fixed-bottom">
  <div class="copyright"></div>
    <p>Copyright &copy; Uttarakhand Traveller. All rights reserved.</p>
  <a href="{% url 'terms_and_conditions' %}" style="color:white;"><i class="fa fa-info-circle">Terms and conditions</i></a>
  </footer>
</div>
{% endblock %}
