   {% load staticfiles %}

   <!-- Static navbar -->
    <nav class="navbar navbar-default navbar-fixed-top" style="background-color:#1A5F23;">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'home' %}" style="color:white;">Uttarakhand Traveller</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a  href="{% url 'home' %}" >Home</a></li>
            <li><a href="{% url 'post_list' %}">Blog</a></li>
            <!--li><a href="{% url 'comingsoon' %}">Places & Facts</a></li-->

            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Places <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="{% url 'places:district_places' 'almora' %}">Almora</a></li>
                  <li><a href="{% url 'places:district_places' 'bageshwar' %}">Bageshwar</a></li>
                  <li><a href="{% url 'places:district_places' 'chamoli' %}">Chamoli</a></li>
                  <li><a href="{% url 'places:district_places' 'champawat' %}">Champawat</a></li>
                  <li><a href="{% url 'places:district_places' 'dehradun' %}">Dehradun</a></li>
                  <li><a href="{% url 'places:district_places' 'haridwar' %}">Haridwar</a></li>
                  <li><a href="{% url 'places:district_places' 'nainital' %}">Nainital</a></li>
                  <li><a href="{% url 'places:district_places' 'pauri-garhwal' %}">Pauri Garhwal</a></li>
                  <li><a href="{% url 'places:district_places' 'pithoragarh' %}">Pithoragarh</a></li>
                  <li><a href="{% url 'places:district_places' 'rudraprayag' %}">Rudraprayag</a></li>
                  <li><a href="{% url 'places:district_places' 'tehri-garhwal' %}">Tehri Garhwal</a></li>
                  <li><a href="{% url 'places:district_places' 'uttarkashi' %}">Uttarkashi</a></li>
                  <li><a href="{% url 'places:district_places' 'udham-singh-nagar' %}">Udham Singh Nagar</a></li>
                </ul>
              </li>
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'contact' %}">Contact</a></li>
            <li><a href="{% url 'facebook_posts' %}">Facebook Posts</a></li>
            <li><a href="http://go.uttarakhandtraveller.com/upload">Upload Photos</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right social">
                <li><a href="https://www.facebook.com/uttarakhandtravellers/"><i class="fa fa-lg fa-facebook"></i></a></li>
                <li><a href="https://www.instagram.com/uttarakhandtraveller/"><i class="fa fa-lg fa-instagram"></i></a></li>
          </ul>
      </div>
      </div>
    </nav>
