{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}


{% block head_title %}{{ title }} | {{ block.super }}{% endblock %}

{% block style %}

{% include 'post_style.html' %}
{% endblock %}

{% block container %}
  <div class="container">
    <div class="row pad-top-30">
   		<div class="col-md-12">
   			<div class="panel panel-default">
  				<div class="panel-heading">
  					<h1 class="panel-title text-center">Terms and Conditions</h1>
  				</div>
  				<div class="panel-body">
  				    <div class="media">
  				    	<a class="pull-left" href="#">
  				    		<img class="media-object img-rounded img-responsive" src="{% static 'img/note.png' %}" alt="...">
  				    	</a>
  				    	<div class="media-body">
  				    		<h4 class="media-heading">Important Note</h4>
                  <p><strong>Please read these Terms and Conditions carefully before using the http://www.uttarakhandtraveller.com  website which is operated by the team Uttarakhand Traveller.</strong> </p>
                  <p>
                  Your access to and use of the Service is conditioned on your acceptance of and compliance with these Terms. These Terms apply to all visitors, users and others who access our website or use the Service.
                  By accessing our website or using the Service you agree to be bound by these Terms. If you disagree with any part of the terms then you may not access the Service.
                </div>
  				    </div>
              <hr/>
  				    <div class="media ">
  				    	<a class="pull-left" href="#">
  				    		<img class="media-object img-rounded img-responsive" src="{% static 'img/note.png' %}"  alt="...">
  				    	</a>
  				    	<div class="media-body">
  				    		<h4 class="media-heading">Content</h4>
                  <p>
                  Our Service allows you to see the <br/>
                  <li>Places of Uttarakhand along with the weather forecast which is subjected to <a href="https://openweathermap.org/">openweathermap.org</a> and map by googlemaps.</li>
                  <li>Blog and articles, these articles have been written by the respect blogger mentioned in the article and he/she owns the right for it
                    Uttarakhand Traveller hold no responsibility to it.</li>
                  <li>Recent Instagram posts posted on our Instagram profile which may or may not be ours, but we are tagged in them and feature them. </li>
                  <li>Recent Facebook posts posted on our Facebook page which may or may not be ours, but we are tagged in them and feature them. </li>
                  <br/>
                  <strong>Please note the Uttarakhand Traveller holds no rights to the photos on the website</strong> as most of them have been
                  taken from our facebook or instagram pages tagged to us. If anyone has any copyright issue can  <a href="{% url 'contact' %}">contact us</a>.
                  We would like to give credits as much as we can. And if owner of the picture doesn't want us to have it on our website,
                  then we are happy to remove it as well.
                  </p>
  				    	</div>
  				    </div>
              <hr/>

  				    <div class="media">
  				    	<a class="pull-left" href="#">
  				    		<img class="media-object img-rounded img-responsive" src="{% static 'img/note.png' %}" alt="...">
  				    	</a>
  				    	<div class="media-body">
  				    		<h4 class="media-heading">Links To Other Web Sites</h4>
                  <p>
                  Our Service may contain links to third-party web sites or services like link to our facebook page and instgram profile.
                  Uttarakhand Traveller has no control over, and assumes no responsibility for, the content, privacy policies, or practices of any third party web sites or services. You further acknowledge and agree that My Company (change this) shall not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with use of or reliance on any such content, goods or services available on or through any such web sites or services.
                  </p>
                </div>
  				    </div>
              <hr/>

              <div class="media">
  				    	<a class="pull-left" href="#">
  				    		<img class="media-object img-rounded img-responsive" src="{% static 'img/note.png' %}" alt="...">
  				    	</a>
  				    	<div class="media-body">
  				    		<h4 class="media-heading">Changes</h4>
                  <p>
                  We reserve the right, at our sole discretion, to modify or replace these Terms at any time. If a revision is material we will try to provide at least 30 (change this) days' notice prior to any new terms taking effect. What constitutes a material change will be determined at our sole discretion.
                  </p>
                </div>
  				    </div>
              <hr/>

              <div class="media">
  				    	<a class="pull-left" href="#">
  				    		<img class="media-object img-rounded img-responsive" src="{% static 'img/note.png' %}" alt="...">
  				    	</a>
  				    	<div class="media-body">
  				    		<h4 class="media-heading">Contact Us</h4>
                  <p>
                    If you have any questions about these Terms, please <a href="{% url 'contact' %}">contact us</a>
                  </p>
                </div>
  				    </div>
  				</div>
  			</div>

   		</div>


   	</div>
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="footer-social-icons"><a href="https://www.facebook.com/uttarakhandtravellers/" target="_blank"><i class="fa fa-facebook-square" title="uttarakhandtraveller on Facebook"></i></a>
        <a href="https://instagram.com/uttarakhandtraveller" target="_blank"><i class="fa fa-instagram" title="uttarakhandtraveller on Instagram"></i></a></div>
        <div class="copyright">All rights reserved. &copy; <a href="http://www.uttarakhandtraveller.com">uttarakhandtraveller.com</a></div>
      </div>
   	</div>
{% endblock %}
